#drum-machine {
  background-color: black;
}
#drum-set {
  background-color: darkred;
  padding: 30px;
  margin: auto;
  display: inline-block;
}

.drum-pad {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimg%2F1859383.png&f=1&nofb=1);
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  background-color: inherit;
}

.drum-pad:active {
  transform: translateY(4px);
}
